@model List<Detail>
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th>
                DetailID
            </th>
            <th>
                Faculty
            </th>
            <th>
                Floor_no
            </th>
             
            @*  <th>
            Password
            </th>
            <th>
            Retype
            </th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <p>No data available.</p>
        }
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.DetailId</td>
                <td>@obj.faculty</td>
                <td>@obj.floor</td>
                 

                @* <td>@info.parentName</td>
            <td>@info.password</td>
            <td>@info.retype</td> *@

                <td>
                    <div class="btn-group d-inline-flex" role="group">
                        <a asp-controller="Info" asp-action="Edit" asp-route-id="@obj.DetailId" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Info" asp-action="Delete" asp-route-id="@obj.DetailId" class="btn btn-primary">
                            <i class="bi bi-eraser-fill"></i> Delete
                        </a>
                    </div>



                </td>
            </tr>
        }
    </tbody>
</table>