@model List<Info>
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone No
            </th>
            <th>
                Parent Name
            </th>
            @*  <th>
            Password
            </th>
            <th>
            Retype
            </th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <p>No data available.</p>
        }
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.name</td>
                <td>@obj.address</td>
                <td>@obj.email</td>
                <td>@obj.phoneNo</td>
                <td>@obj.parentName</td>

                @* <td>@info.parentName</td>
            <td>@info.password</td>
            <td>@info.retype</td> *@

                <td>
                    <div class="btn-group d-inline-flex" role="group">
                        <a asp-controller="Info" asp-action="Edit" asp-route-id="@obj.id" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Info" asp-action="Delete" asp-route-id="@obj.id" class="btn btn-primary">
                            <i class="bi bi-eraser-fill"></i> Delete
                        </a>
                    </div>



                </td>
            </tr>
        }
    </tbody>
</table>